.title {
  font-size: var(--titleFontSize);
  font-weight: bold;
  position: fixed;
  line-height: 1em;
  transform: rotate(90deg) translate(1.2em, 1.45em);

  @media screen and (min-width: 1200px) {
    transform: rotate(0);
    right: 0;
    bottom: -0.2em;
  }
}

.contents {
  display: grid;
  place-items: end;
  height: 100%;
  padding: 0 1rem 1rem 0;
  @media screen and (min-width: 1200px) {
    place-items: center;
    padding: 0;
  }
}

.copy {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

.links {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;

  @media screen and (min-width: 1200px) {
    position: fixed;
    left: 0;
    top: 0;
    margin-left: 1rem;
  }
}

.icon {
  font-size: 2rem;

  & + & {
    margin-left: 1rem;
  }
}

.address {
  text-align: end;
  margin: 0.5rem 0.5rem 0 0;

  @media screen and (min-width: 1200px) {
    text-align: center;
    margin-right: 0;
  }
}
