body {
  min-height: 100vh;
  font-family: Roboto, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
}

html,
body,
#root {
  @supports (-webkit-touch-callout: none) {
    body {
      height: -webkit-fill-available;
    }
  }
}
